.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#quote-box {
  margin: 0 60vh;
  border: 4mm ridge;
}

@media (max-width: 1000px) {
  #quote-box {
    margin: 0 20vw;
  }
}

.clickable {
  display: flex;
  justify-content: space-between;
}

#text {
  font-family: 'Dancing Script', cursive;
  font-size: xx-large;
  padding: 0 10px;
}

#new-quote {
  margin: 0 10px 10px 0;
}

#tweet-quote {
  margin-left: 10px;
}
